<div class="container">
    <form method="POST" action="#">
        <h2> Create Coupon </h2>
        <br>
        <div class="form-group">
            <label for="coupon_code">Coupon Code:</label>
            <a href="#" onclick="getBook()" tabindex="-1" class="card-link">
                <i class="fas fa-film"></i>
                Get Book
            </a>
            <input type="text" name="coupon_code" class="form-control" id="coupon_code" required>
        </div>
        <div class="form-group">
            <label for="coupon_type">Coupon Type:</label>
            <select id="coupon_type" name="coupon_type">
                <option value="OVERALL">Overall</option>
                <option value="SHIP">Shipping Only</option>
                <option value="SUB">Subtotal Only</option>
            </select>
        </div>
        <div class="form-group">
            <label for="coupon_discount">Coupon Discount Rate:</label>
            <input type="text" name="coupon_discount" class="form-control" id="coupon_discount" required>
        </div>
        <div class="form-group">
            <label for="coupon_limit">Coupon Limit:</label>
            <input type="text" name="coupon_limit" class="form-control" id="coupon_limit" required>
        </div>
        <div class="form-group">
            <label for="coupon_public">Make Coupon Public?:</label>
            <select id="coupon_public" name="coupon_public">
                <option value="YES">Yes</option>
                <option value="NO" selected>No</option>
            </select>
        </div>
        {{!-- <div class="form-group">
            <label for="coupon_expiry">Coupon Expiry:</label>
            <input type="text" name="coupon_expiry" class="form-control" id="coupon_expiry" required>
        </div> --}}
        <div class="form-group">
            <label for="coupon_msg">Coupon Message (Leave blank if not public):</label>
            <textarea class="form-control" name="coupon_msg" id="coupon_msg"></textarea>
        </div>
        <div class="form-group">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="font-italic">Coupon Expiry Date</label>
                        <input id="datepicker" width="200" name="coupon_expire_date"
                            value="{{formatDate currentDate 'DD/MM/YYYY'}}" readonly required/>
                    </div>
                    <div class="col-lg-6">
                        <label class="font-italic">Coupon Expiry Time</label>
                        <input id="timepicker" width="200" name="coupon_expire_time" value="{{currentTime}}" readonly required />
                    </div>
                </div>
            </div>
            <br>
            <button id="submit" class="btn btn-danger"> Proceed </button>
        </div>
        <script>
            $('#datepicker').datepicker({
                format: 'dd/mm/yyyy',
                value: new Date().toLocaleDateString('en-SG'),
                uiLibrary: 'bootstrap4',
            });

            $('#timepicker').timepicker({
                uiLibrary: 'bootstrap4'
            });

            /*
                timeFormat: 'h:mm p',
                interval: 60,
                minTime: '10',
                maxTime: '6:00pm',
                defaultTime: '11',
                startTime: '10:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            */


        </script>