<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Shipping & Returns</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Shipping & Returns</h1>
        <strong>What are the delivery charges?</strong>
        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
            qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        <strong>What are the delivery charges?</strong>
        <p>Spiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <strong> Donec fringilla mauris non urna tincidunt vehicula.</strong>
        <ul>
            <li>Mauris elementum augue bibendum ante congue mollis.</li>
            <li>Nunc venenatis purus a mauris malesuada vehicula.</li>
            <li>Nullam ut augue non nunc vehicula faucibus.</li>
            <li>Nulla vel turpis nec risus auctor volutpat sit amet ornare tortor.</li>
        </ul>
    </div>
</section>