<section class="static about-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <div class="mb-4 lead">An internal server error has occured.</div>
                <a href="/"><btn class="btn">Back To Home</btn></a>
            </div>
        </div>
    </div>
</section>