<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Your personal video jotter</p>
		<p> Handlebar pages are html templates</p>
		<p> main.js page is used to route all pages of the website and render the html page along with variables</p>
		<p> This is an {{ examplevariable }} </p>
		<p> Home Page edited by Wilfred </p>
	</div>
	<br>
</div>
