<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index">Home</a>
            <span class="breadcrumb-item active">Register</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>My Account / Register</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
            <form method="POST" action="/user/register">
                        <!--- add in forms here--->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input  name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password2"> Confirm Password</label>
                            <input type="password" name="password2" class="form-control">
                        </div>
                        <div class="row">
                            <div>
                                <button class="btn black" type="submit">Sign up</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </section>