
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="/User/userpage">Userpage</a>
            <span class="breadcrumb-item active">Change Infomation</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
        <div class="row">
          <div class="tab col-6 col-md-2">
                <button class="tab">Navigation</button>
                <a href="/user/userPage">
                    <button class="inactive-tab">User Page</button>
                </a>
                <a href="/user/userPage/changeinfo">
                    <button class="active-tab">Change Info</button>
                </a>
                <a href="/user/userPage/changeaddress">
                    <button class="inactive-tab">Set Address</button>
                </a>
                <a href="/user/userRecentOrder">
                    <button class="inactive-tab">Recent Orders</button>
                </a>
                <a href="/user/userCart">
                    <button class="inactive-tab">Cart</button>
                </a>
                <a href="/user/userPage/wishlist">
                    <button class="inactive-tab">Wishlist</button>
                </a>
            </div>
          <div class="col-6">
            <div class="form">
            <form method="POST" action="/user/userpage/changeinfo">
                <div class="col-md-8">
                    <label for="name">Name:</label><br>
                    <input name="name" placeholder="{{name}}" required>
                </div>
                <div class="col-md-8">
                  <label for="email">Email:</label><br>
                    <input name="email" type="email" placeholder="{{email}}" required>
                </div>
                <div class="col-md-8">
                   <label for="password">Old password:</label><br>
                    <input name="password" type="password" placeholder="old password" required>
                </div>
                <div class="col-md-8">
                   <label for="password">New password:</label><br>
                    <input name="password2" type="password" placeholder="new password" required>
                </div>
                <div class="col-lg-8 col-md-12">
                    <button class="btn black" type="submit">Change</button>
              </form>
            </div>
          </div>
          <div class="col-3">
          </div>
        </div>
      </div>
    </section>
