
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="/">Home</a>
            <span class="breadcrumb-item active">User Profile</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
        <div class="row">
          <div class="col-3">
            <button class="btn black" type="button" href="/user/profile">back</button>
          </div>
          <div class="col-6">
            <div class="form">
            <form>
                <div class="col-md-8">
                    <label for="Name">Name:</label><br>
                    <input placeholder="{{name}}" required>
                </div>
                <div class="col-md-8">
                  <label for="email">Email:</label><br>
                    <input type="email" placeholder="{{email}}" required>
                </div>
                <div class="col-md-8">
                   <label for="passowrd">Old password:</label><br>
                    <input type="password" placeholder="old password" required>
                </div>
                <div class="col-md-8">
                   <label for="passowrd">New password:</label><br>
                    <input type="password" placeholder="new password" required>
                </div>
                <div class="col-lg-8 col-md-12">
                    <button class="btn black">Change</button>
              </form>
            </div>
          </div>
          <div class="col-3">
          </div>
        </div>

    </section>
