<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">User Profile</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>User Info</h1>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#recentOrders" class="nav-link">Recent Orders</a></li>
            <li><a data-toggle="tab" href="#userProfile" class="nav-link">User Profile</a></li>
            <li><a data-toggle="tab" href="#cart" class="nav-link">Cart</a></li>
        </ul>
        <br>
        <div class="tab-content">
            <div id="recentOrders" class="tab-pane fade in active">
                <h3>Recent Orders</h3>
                <br>
                <div>
                    <table class="table table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Date Received</th>
                                <th>Delivery Type</th>
                                <th>Delivery Status</th>
                                <th>Admin Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="viewMoreProduct">100C</a></td>
                                <td>12/12/12</td>
                                <td>Normal Shipping</td>
                                <td>Delivered</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="userProfile" class="tab-pane fade">
                <h3>User Profile</h3>
                <br>
                <table border="0">
                    <tr>
                        <td>Name:</td>
                    </tr>
                    <tr>
                        <td id="nameinfo"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                    </tr>
                    <tr>
                        <td id="emailinfo"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>User ID:</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Postal:</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <tr>
                    <td></td>
                </tr>
                </table>
                <p></p>
                <a class="btn" href="/">Update Particulars</a>
                <p></p>
                <a class="btn" href="/forgetPassword">Change Password</a>
                <p></p>
                <p></p>
                <a class="btn" href="/">Add Security Question</a>
            </div>
            <div class="tab-pane fade" id="cart">
                <h3>Cart</h3>
                <br>
                <div></div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/product1.jpg" class="img">
                    </div>
                    <table class="table table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Date Received</th>
                                <th>Delivery Type</th>
                                <th>Delivery Status</th>
                                <th>Admin Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="viewMoreProduct">100C</a></td>
                                <td>12/12/12</td>
                                <td>Normal Shipping</td>
                                <td>Delivered</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>