<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">User Profile</span>
    </div>
</div>
        <section class="static about-sec">
            <div class="container">
                <h1>Hello,{{user}}</h1>
            </div>
        </section>
        <section class="static about-sec">
            <div class="container">
                <div class="row">
                    <div style="padding:50px; " class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center">
                        <a style="padding:30px;width:270px; " class="btn" href="/user/userPage/orderhistoy"><i
                                class="fas fa-history fa-2x"></i> Order History</a>
                    </div>
                    <div style="padding:50px; " class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center ">
                        <a style="padding:30px;width:270px; " class="btn" href="/user/userPage/changeinfo"><i
                                class="fas fa-user-shield fa-2x"></i> Change/Set Info</a>
                    </div>
                    <div style="padding:50px;" class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center">
                        <a style="padding:30px;width:270px; " class="btn" href="/user/userPage/changeaddress"><i
                                class="fas fa-map-marker-alt fa-2x"></i> Set Address</a>
                    </div>
                </div>
            </div>
        </section>