<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">User Profile</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <div class="row">
            <div class="tab col-6 col-md-2">
                <button class="tab">Navigation</button>
                <a href="/user/userPage">
                    <button class="active-tab">User Info</button>
                </a>
                <a href="/user/userRecentOrder">
                    <button class="inactive-tab">Recent Orders</button>
                </a>
                <a href="/user/userCart">
                    <button class="inactive-tab">Cart</button>
                </a>
            </div>
            <div class="col-md-10">
                <div id="userProfile">
                    <h2>User Profile</h2>
                    <br>
                    <table border="0">
                        <tr>
                            <td>Name:</td>
                        </tr>
                        <tr>
                            <td id="nameinfo"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                        </tr>
                        <tr>
                            <td id="emailinfo"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>User ID:</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Postal:</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Country:</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <tr>
                        <td></td>
                    </tr>
                    </table>
                    <p></p>
                    <a class="btn" href="/">Update Particulars</a>
                    <p></p>
                    <a class="btn" href="/forgetPassword">Change Password</a>
                    <p></p>
                    <p></p>
                    <a class="btn" href="/">Add Security Question</a>
                </div>
            </div>
        </div>
    </div>
</section>