<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active">Delivery Information</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Delivery Information</h1>
        <form class="form" method="">
            <div>
                <h3>Order Information</h3>
            </div>
            <!--- {% for order in orderList %}   add in conditions here--->
            <div class="form-group">
                <div class="row">
                    <p class="col">Order ID:</p>
                    <p class="col">100B</p>
                    <p class="col">Delivery Status: </p>
                    <p>Delivered</p>
                    <!---
                            {% if order.get_status() == "D" %}
                                <p class="col">Delivered</p>
                            {% elif order.get_status() == "DG" %}
                                <p class="col">Delivering</p>
                            {% elif order.get_status() == "P" %}
                                <p class="col">Processing</p>
                            {% elif order.get_status() == "DY" %}
                                <p class="col">Delayed</p>
                            {% endif %}
                            --->
                </div>
                <div class="row">
                    <p class="col">Book ID: </p>
                    <p class="col"></p>
                    <p class="col">Book Title: </p>
                    <p class="col"></p>
                </div>
                <div class="row">
                    <p class="col">Book Publisher: </p>
                    <p class="col"></p>
                    <p class="col">Book Author: </p>
                    <p class="col"></p>
                </div>
                <div class="row">
                    <p class="col">Quantity: </p>
                    <p class="col"></p>
                    <p class="col">Total Price: </p>
                    <p class="col"></p>
                </div>
                <div class="row">
                    <p class="col">Delivery Type: </p>
                    <p>Normal Delivery</p>
                    <!---
                            {% if order.get_delivery_types() == "S" %}
                            <p>Normal Delivery</p>
                        {% elif order.get_delivery_types() == "A" %}
                            <p>Air Shipping</p>
                        {% endif %}
                        --->
                    <p class="col"></p>
                    <p class="col"></p>
                </div>
                <div class="row">
                    <p class="col">Tracking Number: </p>
                    <p class="col"></p>
                </div>
                <div>
                    <h3>Admin Remarks</h3>
                </div>
                <div class="row">
                    <p class="col">Admin Remarks: </p>
                    <p class="col"></p>
                </div>
                <div>
                    <h3>Delivery Remarks</h3>
                </div>
                <div class="row">
                    <p class="col">Delivery Remarks: </p>
                    <p class="col"></p>
                </div>
                <div>
                    <h3>User Remarks</h3>
                </div>
                <div class="row">
                    <p class="col">Current User Remarks: </p>
                    <p class="col"></p>
                </div>
                <div class="row">
                </div class="col col-md-12">
                <a href="checkout">
                    <button class="btn" type="submit" value="submit">Check Out
                    </button>
                </a>
            </div>
    </div>
    </form>
    </div>
</section>