<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index">Home</a>
            <span class="breadcrumb-item active">FAQ</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>FAQ</h1>
            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
        </div>
</section>