<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/index">Home</a>
        <span class="breadcrumb-item active">Check Delivery</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Wrong number lol</h1>
        <p>{{errorMessage}}</p>
    </div>
</section>