<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/index">Home</a>
        <span class="breadcrumb-item">Cart</span>
        <span class="breadcrumb-item active">Checkout</span>
    </div>
</div>
<section class="product-sec">
    <div class="container">
        <div class="text-center">
            <h1>Thank you for your purchase</h1>
            <h5>Please check your sms for your delivery information.</h5>
            <br>
        <a href="/user/userRecentOrder">
            <btn class="btn">Go to Orders</btn>
        </a>
        </div>
    </div>
</section>