<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="/index">Home</a>
            <span class="breadcrumb-item">Cart</span>
            <span class="breadcrumb-item active">Checkout</span>
        </div>
    </div>
    <section class="product-sec">
        <div class="container">
            <h1>Checkout</h1>
            <h2>Thank you for your purchase</h2>
            <br>
            <h5>This is your verification code below.</h5>
            <br>
            <p>3211142351</p>
        </div>
        </section>